body {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Navigation */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b0c10;
    padding: 10px 40px;
    gap: 20px;
    position: relative;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.main-nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #66fcf1;
}

.logo {
    height: 45px;
    width: auto;
    margin-right: 20px;
}

/* Login icon */
.login-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.login-icon .icon {
    width: 30px;
    height: 30px;
    stroke: white;
    transition: stroke 0.3s ease;
}

.login-icon:hover .icon {
    stroke: #ffffff;
}

/* Login form container */
.login-container {
    background-color: #0f0f0f;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px white;
    text-align: center;
    width: 300px;
    margin: 100px auto;
}

.login-container h2 {
    margin-bottom: 25px;
    color: white;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background-color: #222;
    color: white;
    font-size: 14px;
}

.login-container input:focus {
    outline: 2px solid white;
}

.login-container button {
    display: block;
    margin: 10px auto; 
    padding: 10px 60px; 
    border: none;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Footer styling */
footer {
    background-color: #000000;; 
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 1px;
}
/* Footer logo */
.footer-logo {
    height: 45px; 
    width: auto;
    margin-top: 1px; 
}

/* Footer links styling */
.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-size: 15px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: white;
}

/* Footer disclaimer */
.footer-disclaimer {
    color: #aaaaaa;
    font-size: 14px;
    line-height: 1.5;
    max-width: 800px;
    margin: 15px auto 0 auto;
    text-align: center;
}

